---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { ClientRouter } from 'astro:transitions';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>POSALANA - By Lutvia</title>
		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<!-- Font Awesome -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
		<ClientRouter />
	</head>
	<body class="bg-background text-foreground font-sans min-h-screen flex flex-col selection:bg-secondary/30 selection:text-foreground overflow-x-hidden">
		
		<Navbar />

		<main class="max-w-5xl mx-auto px-4 md:px-6 py-8 md:py-12 flex-grow w-full">
			<slot />
		</main>

		<Footer />

		<script define:vars={{ user: Astro.locals.user }}>
			console.log("Logged in user:", user);
		</script>
	</body>
</html>
